* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.tags-input {
  display: inline-block;
  position: relative;
  border: 1px solid #ccc;
  padding: 5px;
  width: 50%;
  box-shadow: 1px 1px 2px #ccc;
}

.tags-input ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tags-input li {
  display: inline-block;
  color: #333;
  color: #333;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 0px 5px 5px 0px;
}

.tags-input input[type="text"] {
  border: none;
  outline: none;
  padding: 5px;
  font-size: 14px;
}

.tags-input input[type="text"]:focus {
  outline: none;
}

.tags-input .deleteBtn {
    background-color: transparent;
    border: none;
    color: #999;
    cursor: pointer;
    margin-left: 5px;
}